Gang Ling <linggang7@gmail.com>
Gary O'Neall <gary@sourceauditor.com>
Peter Williams <peter.williams@openlogic.com> <pezra@barelyenough.org>
Roger Meier <r.meier@siemens.com> <roger@bufferoverflow.ch>
Ryan O'Meara <romeara@blackducksoftware.com>
