body { font-family: Tahoma, Verdana, sans-serif; }

.license-text {
background-color: WhiteSmoke;
border: 1px dashed Black;
padding: 1ex;
}


.license-template {
background-color: WhiteSmoke;
border: 1px dashed Black;
padding: 1ex;
}

.replacable-license-text {
color: #0000cc;
}

.optional-license-text {
color: #009900;
}

h2 {
border-bottom: 1px solid Gray;
margin: 5px 5px 10px 0;
color: #003F69;
}

ul {
    list-style-type: square;
}

table {
border-collapse: collapse;
}

td,th {
margin: 0;
text-align: left;
border: 1px solid black;
}